{% extends 'base.html' %}
{% block title %}Delete{% endblock %}
{% block menu %}
    <li><a href="{% url 'product_view' product.pk %}">Отмена</a></li>
{% endblock %}
{% block content %}
    <h1>Вы уверены, что хотите удалить продукт "{{ product.name }}"?</h1>
    <p><b>Category:</b> {{ product.category }} </p>
    <p><b>Price:</b> ${{ product.price }}</p>
     <h5>Полное описание задачи: </h5>
    <p>{{ product.description }}</p>
    <form action="{% url "product_delete" product.pk %}" method="post">
        {% csrf_token %}
        <p><input type="submit" value="Удалить" class="btn btn-danger"></p>
         <a href="{% url 'product_view' product.pk  %}" class="btn btn-primary" role="button" aria-pressed="true">Отмена</a>
    </form>

{% endblock %}